<!--<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post">-->
<!--  <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">-->

<!--  <label for="user_name">Name</label>-->
<!--  <input class="form-control" type="text" name="user[name]" id="user_name">-->

<!--  <label for="user_email">Email</label>-->
<!--  <input class="form-control" type="email" name="user[email]" id="user_email">-->

<!--  <label for="user_password">Password</label>-->
<!--  <input class="form-control" type="password" name="user[password]" id="user_password">-->

<!--  <input type="submit" name="commit" value="Create my account" class="btn btn-primary" data-disable-with="Create my account">-->
<!--</form>-->

<%
=begin%>
 <%= form_with url: users_path do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>

  <%= f.label :email, "Email:" %>
  <%= f.email_field :email %>

  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %>

  <%= f.submit "Submit" %>
<% end %> 
<%
=end%>

<%= form_with model: @user do |f| %>
  <%= f.text_field :name, placeholder: "Your name here" %>

  <%= f.text_field :email, placeholder: "Your email here"  %>

  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Create" %>
<% end %> 